* {
    box-sizing: border-box;
}
.logo{
    display: flex;
    justify-content: center;
    color: #b3f401;
    padding: 20px;

}
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    background-color: #003008b2;
}
.nav a {
    color: #b3f401;
    text-decoration: none;
}
.nav ul, nav li{
    letter-spacing: 2px;
    font-size: small;
    font-family: montserrat;
    display: inline-block;
    margin-bottom: 0px;
}
.nav_center {
    color: #b3f401;
    text-align: center;
    text-decoration: none;
}


nav .nav_right {
    justify-content: flex-end;  
    display: inline-grid;
}
.nav a:hover{
    background-color: #d90046;
}



.nav a {
    color: #b3f401;
    padding: 10px;
    text-decoration: none;
}
.nav ul, nav li{
    letter-spacing: 2px;
    font-size: small;
    font-family: montserrat;
    display: inline-block;
}
.nav_center {
    color: #b3f401;
    text-align: center;
    text-decoration: none;
    padding-inline-end: 40px;
}
nav .nav_right {
    justify-content: flex-end;  
    display: inline-grid;
    padding-inline-end: 40px;
}

.after_nav {
    color: #b3f401;
    height: 30px;
    background-color: #003008b2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    
}
.after_nav1 {
    padding-top: 7.5px;
}


body {
    background-image: url(./images1/26315dd6d8b9972744f4d854f4d5b70d.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 500px;
    background-color: #0d150e;
    line-height: normal;
    
}

@media (max-width: 2560px) {
    body {
        margin: 0px 200px 0px;
    }
}
@media (max-width: 1440px) {
    body {
        margin: 0px 100px 0px;
    }
}
@media (max-width: 1024px) {
    body {
        margin: 0px 50px 0px;
    }
}

.head_banner {
    
    background-color: #b3f401;
    background-image: url(./images1/bac4f65852b65ccd911bdd83308271b5.jpg);
    background-attachment: local;
    
}

@media (max-width: 2560px) {
    .head_banner {
        height: 500px;
        background-size: 500px;
    }
}

@media (max-width: 1440px) {
    .head_banner {
        height: 400px;
        background-size: 310px;
    }
}

@media (max-width: 1024px) {
    .head_banner {
        height: 300px;
        background-size: 275px;
    }
}

.afterbanner {
    height: 600px;
}


.header3{
    /*
        play music with me
    */
    border: #b3f401;
    font-size: 60px;
    font-family: montserrat;
    font-weight: bold;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
    color: #b3f401;
}
.quote1{
    font-family: montserrat;
    font-size: 20px;
    color: #cdcdcd;
    width: 300px;
    margin: auto;
    position: relative;
    top: 150px;
    text-align: center;
    font-style: italic;
    background-color: #111d13;
    padding: 50px;
    border: 1px solid;
    border-radius: 20px;
    border-color: #003008b2;
}
.merla {
    font-family: montserrat;
    letter-spacing: 2px;
    font-size: medium;
    font-weight: bolder;
    color: #b3f401;
    transform: rotate(-90deg);
    position: absolute;
    right: 0%;
}


.card-group {
    margin: 0px 100px 0px 100px;
    
}
.card-img-top {
    border-radius: 30px;
}
.card  {
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 50px;
    background-color: #ffffff;
}
    
@media (min-width: 100px) {
    .card-group>.card:not(:last-child) {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}
@media (min-width: 100px) {
    .card-group>.card:not(:first-child) {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}
@media (min-width: 100px) {
    .card-group>.card:not(:last-child)>.card-img-top {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}
@media (min-width: 100px) {
    .card-group>.card:not(:first-child)>.card-img-top {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}


@media (max-width: 2560px) {
.card {
    margin: 50px 150px 50px;
    }
}
@media (max-width: 1440px) {
.card {
    margin: 50px 50px 50px;
}
}
@media (max-width: 1024px) {
.card {
    margin: 50px 10px 50px;
}
}
@media (max-width: 768px) {
.card {
    margin: 50px 2px 50px;
}
}


@media (max-width: 2560px) {
.h5, h5, .card-title {
    font-size: 50px;
    margin-bottom: 10px;
}
}
@media (max-width: 1440px) {
.h5, h5, .card-body, .card-title  {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 0px;
}
}
@media (max-width: 1024px) {
.h5, h5, .card-body, .card-title {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 0px;
}
}


@media (max-width: 2560px) {
.card-content, .card-text {
    font-size: 20px;
}
}
@media (max-width: 1440px) {
.card-content, .card-text{
    font-size: 10px;
}
}
@media (max-width: 1024px) {
.card-content, .card-text {
    font-size: 9px;
}
}
@media (max-width: 768px) {
.card-content, .card-text {
    font-size: 5px;
}
}

@media (min-width: 2760px) {
    .card-group>.card {
        margin-bottom: 50px;
    }
}
@media (min-width: 1440px) {
    .card-group>.card {
        margin-bottom: 50px;
    }
}
@media (min-width: 1024px) {
    .card-group>.card {
        margin-bottom: 50px;
    }
}

.merla121 {
    text-align: justify;
    border: #b3f401;
    font-size: 300px;
    font-family: archivo black;
    text-align: center;
    color: #b3f401;
    
}

@media (max-width: 2560px) {
    .merla121 {
        margin: 150px 450px 150px 450px;
        font-size: 100px;
    }
}

@media (max-width: 1440px) {
    .merla121 {
        margin: 150px 200px 150px 200px;
        font-size: 60px;
    }
}

@media (max-width: 1024px) {
    .merla121 {
        margin: 150px 150px 150px 150px;
        font-size: 40px;
    }
}


.guitars {
    transform: skew(-1deg);
}

.group1 {
    display: flex;
    justify-content: right;
}

.group2 {
    display: flex;
    justify-content: left;
}

#guitar1, #guitar2, #guitar3, #guitar4, #guitar5 {
    height: 450px;
}

#guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
    height: 440px;
}

.bigbox {
    transform: skew(-10deg);
    margin: 0px 200px 0px 200px;
    padding: 0vh 0vh 0vh 0vh;
    /*border: 1px solid;*/
    border-radius: 0px;
   /* box-shadow: 30px 30px 70px #b3f401;*/
    /*background-color: #111d1333; */
}

@media (max-width: 2590px) {
    .bigbox #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 450px;
        
    }
}
@media (max-width: 2147px) {
    .bigbox #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 400px;
    }
}
@media (max-width: 1821px) {
    .bigbox #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 400px;
    }
}
@media (max-width: 1648px) {
    .bigbox #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 350px;
    }
}
@media (max-width: 1496px) {
    .bigbox #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 300px;
    } 
}
@media (max-width: 1305px) {
    .bigbox #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 250px;
    } 
}

@media (max-width: 1129px) {
    .bigbox #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 200px;
    } 
}

@media (max-width: 966px) {
    .bigbox  #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 170px;
    } 
}
@media (max-width: 846px) {
    .bigbox  #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 150px;
    } 
}
@media (max-width: 750px) {
    .bigbox  #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 120px;
    } 
}
@media (max-width: 630px) {
    .bigbox  #guitar1, #guitar2, #guitar3, #guitar4, #guitar5, #guitar6, #guitar7, #guitar8, #guitar9, #guitar10 {
        height: 100px;
    } 
}

table {
    border-radius: 20px;
    border: solid 1px;
    border-color: #b3f401;
    position: relative;
    background-color: #0d150e4a;
    border-collapse: separate;
    text-align: center;
}
.header2{
    width: 250px;
}
tr{
    background-color: #e1e8e20c; 
    color: #d90046;
}
td{
    color: #b3f401;
}
#cell1{
    color: #ffffff;
}
#cell2{
    color: white;
}
#cell3{
    color: rgb(255, 111, 0);
}

.smallboxes,
#box1, #box2, #box3 {
    
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -25px;
}

#box1, #box2, #box3 {
    font-family: montserrat;
    
    align-items: center;
    background-color: #142116;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #b3f40125;
    color: #b3f401;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-color: #003008b2;
}


#bigbox1{
    height: 100%;
    border: 1px solid;
    border-radius: 15px;
    /* box-shadow: 5px 5px 20px #b3f40125; */
    background-color: #111d1363;
    border-color: #003008b2;
    
}

@media (max-width: 2570px){
    #bigbox1 {
        margin: 200px 150px 200px;
    }
}
@media (max-width: 1440px){
    #bigbox1 {
        margin: 150px 50px 150px;
    }
}
@media (max-width: 1024px){
    #bigbox1 {
        margin: 100px 20px 100px;
    }
}


@media (max-width: 2560px) {
    .smallboxes  {
        margin: 0px 200px 0px;
        font-size: 20px;
    }
}
@media (max-width: 1440px) {
    .smallboxes  {
        margin: 0px 50px 0px;
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    .smallboxes  {
        margin: 0px 50px 0px;
        font-size: 10px;
    }
    #box1, #box2, #box3 {
        margin: 0px 50px 0px;
    }
}


@media (max-width: 2560px) {
    .header1 {
        font-family: montserrat;
        position: relative;
        margin: auto;
        margin-bottom: 200px;
        margin-top: 100px;
        width: 1400px;
        height: 500px;
    }
    tr {
         font-size: 20px;
    }
}  
@media (max-width: 1440px) {
    .header1 {
        font-family: montserrat;
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 900px;
        height: 100px;
    }
    tr {
         font-size: 12px;
    }
}  
@media (max-width: 1024px) {
    .header1 {
        font-family: montserrat;
        position: relative;
        margin-bottom: 50px;
        margin-top: 100px;
        width: 800px;
        height: 500px;
    }
}  



.row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    color: #b3f401;
    font-family: montserrat;
}

@media (max-width: 2560px) {
    .row {
        margin: 50px 100px;
    }
}
@media (max-width: 1440px) {
    .row {
        margin: 50px 50px;
    }
}@media (max-width: 1024px) {
    .row {
        margin: 50px 10px;
    }
    .fakeimg1 {
        height: 40em;
    }
}



.inside_box1{
    box-shadow: 2px 2px 10px #b3f40125;
    background-color: #111d13;
    padding: 15px;
    color: #b3f401;
}
.form {
    box-shadow: 5px 5px 20px #b3f40125;
    background-color: #111d1363;
    border: 1px solid;
    border-color: #003008b2;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    
}
input {
    outline: none;
    padding: 10px;
    border-radius: 8px;
    
}
.address1 {
    width: 50%;
    outline: none;
    border-radius: 8px;
}
#firstname, #lastname, .radio, .address {
    margin-bottom: 20px;
}
.radio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
}

.checkbox {
    width: 50%;
}

.submit-btn {
    background-color: #d90046;
}
.submit-btn:hover {
    background-color: #b3f401;
    border-color: #ffffff;
    
}
.btn-primary {
    border-color: #ffffff;
}


aside {
    padding-left: 20px;
}
.card_1 {
    padding: 20px;
    margin-top: 20px;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card_2 {
    padding: 20px;
    margin-top: 20px;
}
.card_1, .card_2 {
    box-shadow: 5px 5px 20px #b3f40125;
    background-color: #111d1363;
    border: 1px solid;
    border-color: #003008b2;
    border-radius: 15px;
}


.carousel-item {
    margin: 0%;
    margin-bottom: 50px;
}

@media (max-width: 2560px) {
    .centerimage {
        display: flex;
        margin: auto;
        width: 80%;
    }
}@media (max-width: 1440px) {
    .centerimage {
        display: flex;
        margin: auto;
        width: 80%;
    }
}@media (max-width: 1024px) {
    .centerimage {
        display: flex;
        margin: auto;
        width: 80%;
    }
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #b3f401;
    width: 100%;
    height: 500px;
}

.footer1 {
    width: 50% ;
}

@media (max-width: 2560px) {
    .footer {
        padding: 20px 50px 20px;
    }
}
@media (max-width: 1440px) {
    .footer {
        padding: 20px 50px 20px;
    }
}@media (max-width: 1024px) {
    .footer {
        padding: 20px 50px 20px;
    }
}

#footercolumn {
    font-weight: bolder;
    margin-bottom: 20px;
}
#footercontent, p {
    margin-bottom: 10px;
}


.afterbanner_back, .afterbanner_back2, .afterbanner_back5, .afterbanner_back7 {
    height: 100%;
    border: 1px solid;
    background-color: #0000006d;
}
.afterbanner_back1, .afterbanner_back4, .afterbanner_back6, .afterbanner_back0 {
    height: 100%;
    border: 1px solid;
    background-color: #142116;
    border-color: #003008;
}